<div class="container">
  <div id="main">
    <div class="about-info">
      <h2>About</h2>
      <p>
        WikiArticles is a web based free-content encyclopedia project and is based on a model of openly editable content. The articles available are written collaboratively by largely anonymous volunteers who write without pay. Anyone with Internet access can write and make changes to any WikiArticle, except in limited cases where editing is restricted to prevent disruption or vandalism. Users can contribute anonymously, under a pseudonym, or, if they choose to, with their real identity.
      </p>
      <p>
        To become a contributor to WikiArticles and write about a topic, please sign up to create an account. Those without accounts can still view any content but will be restricted from creating any. Also, feel free to use the randomize browser to view a random article from the WikiArticles database!
      </p>
    </div>
  </div>
</div>
<footer>
<div class="message">
  <h1></h1>
</div>
</footer>
