<div class="container">
  <div id="main-content">
    <h1>Welcome to WikiArticles</h1>
    <h2>Where the price of knowledge is free.</h2>
    <h2>Today's featured article</h2>
    <div class="icon-container">
      <i id="scroll-featured" class="fa fa-sort-desc fa-2x"></i>
    </div>
    <div id="featured">
      <div id="featured-article">
        <div id="featured-title">
          <h1>The Birth of Mankind</h1>
          <h3>By: Stanley Kubrick</h3>
        </div>
        <div class="full">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat dui, cursus vitae congue ut, venenatis quis erat. In porta nisl sed pellentesque elementum. Phasellus finibus arcu et ligula posuere iaculis sed at turpis. Morbi mattis, turpis quis vestibulum egestas, orci ipsum maximus sem, non consectetur lorem erat sit amet sem. Fusce fringilla pretium massa, a sagittis dolor scelerisque non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed lorem nunc, cursus nec consequat vitae, aliquam ut purus. Sed in elementum velit. Praesent et eleifend nunc, id molestie nulla.
          </p>
          <p>
            Cras lobortis imperdiet rutrum. Praesent condimentum velit at tellus aliquet, ac feugiat justo ultrices. Cras sit amet rutrum mauris, vitae dignissim felis. In luctus nibh at leo tincidunt, at egestas magna dapibus. Donec molestie sit amet orci ac sodales. Donec porta arcu felis, et pretium elit rhoncus vel. Sed eu justo dolor. Pellentesque blandit magna sed dui tristique, in pretium odio vulputate. Donec lectus ante, maximus eu sodales at, tempus et orci. Nulla mi nunc, condimentum porttitor tristique vitae, scelerisque sit amet mi.
          </p>
          <p>
            Ut ut turpis felis. Duis at neque facilisis sapien euismod hendrerit. Etiam eu venenatis libero, ac efficitur velit. Donec quis nibh at eros lobortis tempus a id est. Fusce ultrices, nunc vel mollis porta, est nisl luctus lectus, eget gravida tortor tortor eget risus. Suspendisse potenti. Proin odio libero, porttitor eu felis eget, iaculis lacinia ante. Proin non enim et sapien feugiat sollicitudin. Vivamus tempus, nulla at ullamcorper finibus, nisi ipsum iaculis libero, nec hendrerit mi est id ante. Quisque massa mauris, gravida vitae vestibulum id, egestas in mi. Nulla malesuada tincidunt turpis, eu egestas sapien luctus at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris a auctor dui.
          </p>
          <p>
            Nullam hendrerit tincidunt quam, sit amet commodo neque lacinia ac. Proin cursus congue tincidunt. Curabitur sit amet purus quis eros consectetur tempus id sit amet mi. Vestibulum accumsan, leo nec viverra imperdiet, diam tellus tempor ligula, eget fermentum nibh sem eget lorem. Sed ut nunc in mi condimentum iaculis. Sed porttitor odio posuere massa commodo commodo. Duis convallis placerat turpis nec maximus. Vivamus fermentum dapibus commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id leo at augue interdum congue sed et enim. Nam id tempus elit, ut maximus risus. Curabitur egestas porttitor erat vitae laoreet. Aliquam erat volutpat.
          </p>
          <p>
            Sed sit amet nulla sed massa finibus efficitur eu eget nisl. Curabitur laoreet tellus sed ligula mollis aliquet. Maecenas nec elit quis purus dapibus pretium in non felis. Morbi vitae sagittis nisl. Maecenas non augue purus. Nam eget ligula non turpis posuere pulvinar sit amet et tellus. In quis lorem vitae libero bibendum venenatis at et enim. Donec odio augue, tincidunt nec blandit a, bibendum ut enim. Nulla ut nibh eget turpis convallis iaculis. Morbi ac purus viverra, bibendum risus a, commodo lacus.
          </p>
          <p>
            Donec at lacus ultrices, porttitor lorem a, efficitur neque. Donec vitae ultrices nunc, nec pharetra orci. Maecenas ultricies maximus nibh non viverra. Aliquam hendrerit felis lorem, eget rhoncus diam vestibulum egestas. Praesent id accumsan arcu. Nulla facilisi. Integer porta imperdiet lacus tincidunt ullamcorper. Aenean turpis velit, auctor eget felis quis, pulvinar pharetra diam. In quis libero vel est pharetra porta in et enim. Nulla ultrices dictum mi in consectetur.
          </p>
          <p>
            Etiam laoreet malesuada ligula, mattis porta mauris imperdiet ac. Donec tincidunt arcu ut maximus sagittis. Suspendisse vehicula ligula ut nulla condimentum commodo. Vivamus maximus pretium tellus nec ornare. Donec facilisis, turpis porta consequat sollicitudin, neque augue suscipit purus, in bibendum purus lacus eget neque. Curabitur volutpat bibendum felis, et posuere nulla feugiat et. Suspendisse potenti. Donec mattis massa vitae nisi vulputate gravida. Integer tempus congue justo, id dignissim eros pretium sit amet. Maecenas id porta est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In blandit gravida bibendum. Nam aliquet nibh est, fermentum ullamcorper dui fringilla at.
          </p>
          <div class="icon-container">
            <i id="scroll-up" class="fa fa-sort-asc fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="welcome-footer">
  <div><i class="fa fa-facebook-official"></i></div>
  <div><i class="fa fa-twitter-square"></i></div>
  <div><i class="fa fa-pinterest-square"></i></div>
</footer>
