
<div class="container">
  <div id="main">
    <div id="index-page"><%= catTitle.charAt(0).toUpperCase() + catTitle.substring(1) %> Index
      <ul>
        <% article.forEach(function (article, i) { %>
        <li>
          <a href="/articles/<%=article.title%>">
            <%= article.title  %>
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>
<footer>
<div class="message">
  <div><i class="fa fa-facebook-official"></i></div>
  <div><i class="fa fa-twitter-square"></i></div>
  <div><i class="fa fa-pinterest-square"></i></div>
  <h1><%= message %></h1>
</div>
</footer>
