@import url(http://fonts.googleapis.com/css?family=Oxygen:700,400,300|Raleway:500,100,400,200,300);

* {
  font: inherit;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 1em;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  height: 10vh;
  display: inline-block;
  position: fixed;
  background-color: white;
  z-index: 999;
}

input {
  padding: 4px;
  color: #495867;
}

input:focus {
  outline: none;
}

input[type="text"],
input[type="password"],
textarea {
  border: none;
  background-color: #fdfdfd;
}

label {
  color: #495867;
}

textarea:focus {
  outline: none;
}

footer {
  height: 8vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer div h1 {
  margin: 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #495867;
}

li a:hover {
  border-bottom: 1px solid #495867;
}

/*********FOR HAMBURGER BUTTON*********/

#hamburger-button {
  display: inline-block;
  vertical-align: top;
  height: 25px;
  width: 22px;
  margin: 15px 0 0 15px;
  z-index: 3;
  /*display: flex;*/
  flex-direction: row;
  justify-content: space-between;
}

#hamburger-button:hover {
  cursor: pointer;
}

#hamburger-button > span {
  display: inline-block;
  width: 4px;
  height: 25px;
  transition: all .5s ease;
  background-color: #495867;
}

#hamburger-button span:last-child {
  margin-left: 1px;
}

#hamburger-button.open :first-child {
  transform: translateX(8px) rotate(45deg);
}

#hamburger-button.open :nth-child(2) {
  transform: rotateX(90deg);
}

#hamburger-button.open :last-child {
  transform: translateX(-8px) rotate(-45deg);
}

/*********FOR MENU *********/

#menu-wrapper {
  height: 5vh;
  width: 100%;
  position: fixed;
  opacity: 0;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

#menu-wrapper.open {
  opacity: 1;
}

#menu-wrapper.open li {
  left: 0;
  opacity: 1;
}

ul#menu {
  height: 100%;
  list-style: none;
  margin: 0;
  padding-left: 55px;
}

ul#menu > li {
  left: -20%;
  position: relative;
  opacity: 0;
  display: inline-block;
  border-right: 1px solid lightgray;
  padding: 8px;
  margin-right: 25px;
}

/* TRANSITION-END */
ul#menu :first-child {
  transition: opacity 1s ease .35s, left .75s ease .35s;
}

ul#menu :nth-child(2) {
  position: relative;
    transition: opacity 1s ease .30s, left .75s ease .30s;
}

ul#menu :nth-child(3){
  transition: opacity 1s ease .25s, left .75s ease .25s;
}

ul#menu :nth-child(4) {
    transition: opacity 1s ease .20s, left .75s ease .20s;
}

ul#menu :nth-child(5) {
    transition: opacity 1s ease .15s, left .75s ease .15s;
}

ul#menu li a,
ul#menu li span {
  text-decoration: none;
  color: #495867;
  transition-delay: 0s;
}

ul#menu li a:hover,
ul#menu li span:hover {
  border-bottom: 1px solid #495867;
  cursor: pointer;
}

ul#menu :first-child.trans-end,
ul#menu :nth-child(2).trans-end,
ul#menu :nth-child(3).trans-end,
ul#menu :nth-child(4).trans-end,
ul#menu :nth-child(5).trans-end {
  transition-delay: 0s !important;
}

.logo-con {
  display: inline-block;
  width: 93%;
  height: 30px;
  text-align: right;
  margin-top: 15px;
}

.logo {
  display: inline-block;
  text-align: center;
  background-color: #495867;
  width: 30px;
  height: 30px;
  position: fixed;
  margin-right: 15px;
  transition: background-color .75s;
}

.logo a {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 1.65em;
  transition: color .75s;
}

.logo:hover {
  background-color: white;
  border: 1px solid #495867;
}

.logo:hover a {
  color: #495867
}

/*********FOR LANDING PAGE & LOGIN*********/

.container,
#main:first-child {
  /*display: flex;*/
  /*flex-direction: row;
  justify-content: center;*/
  /*display: block;*/
  padding-top: 3%;
}

#main, #main-new-art {
  width: 60vw;
  height: 60vh;
  min-width: 500px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#main-logo {
  height: 250px;
  width: 251px;
  font-family: 'Raleway', sans-serif;
  font-size: 10em;
  font-weight: 200;
  line-height: 1.65em;
  text-align: center;
  color: white;
  background-color: #495867;
  display: block;
  z-index: 2;
  position: relative;
  -moz-transition: background-color 0.75s;
  -o-transition:background-color 0.75s;
  -webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
}

#main-logo:hover {
  cursor: pointer;
  background-color: white;
  color: #495867;
  border: 1px solid #495867;
}

#logo-container {
  height: 500px;
  margin-top: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

#logo-container .section {
  background-color: white;
  border: 1px solid #6d7985;
  width: 250.734px;
  height: 250px;
  top: 0%;
  z-index: 1;
  position: absolute;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

#logo-container input:checked + label + .section {
  top: 35%;
  opacity: 1;
}

#logo {
  display: none;
}

#logo-container .section div{
  position: absolute;
  bottom: 0;
}

#logo-container .section div form label {
  color: #495867;
  padding-left: .5em;
}

#logo-container .section div form input:last-child,
#main-new-art form input:last-child {
  width: 100%;
  background-color: #495867;
  color: white;
  font-family: inherit;
  font-size: 100%;
  font-weight: 300;
  padding: .5em .3em;
  border: 1px solid #495867;
  text-decoration: none;
  -moz-transition: background-color 0.75s;
  -o-transition:background-color 0.75s;
  -webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
}

#logo-container .section div form input:last-child:hover,
#main-new-art form input:last-child:hover {
  cursor: pointer;
  background-color: white;
  color: #495867;
}

#logo-container .section div form input[type="text"],
#logo-container .section div form input[type="password"] {
  width: 100%;
  margin-top: .5em;
  padding-left: .5em;
  color: #495867;
}

#logo-container .section div form input:first-of-type {
  margin-bottom: .5em;
}

/*********FOR BROWSE MENU*********/

#menu li:nth-child(2):hover a + ul,
#menu li:nth-child(3):hover span + ul {
  display: block;
  position: absolute;
}

ul.browse-menu {
  width: 120px;
  display: none;
  list-style: none;
  padding: 20px 0 0 10px;
  top: 30px;
  margin: 0;
  background-color: white;
  border: none;
}

ul.browse-menu li {
  display: block;
  border: none;
  padding-left: 0;
  padding-bottom: 1em;
}

/*********FOR FOOTER*********/

.message {
  font-size: 2em;
  text-align: right;
  margin: 0;
  padding-right: 1em;
  padding-bottom: 1em;
  color: #acacac;
}

/* for fade in */
.message {
  display: none;
}

footer.edit-art-footer,
footer.delete-art-footer {
  text-align: right;
  background-color: white;
}

footer.edit-art-footer span {
  margin-right: 25px;
  /*padding: .5em;
  border: 1px solid #495867;*/
}

input#delete-button {
  background-color: white;
  color: #495867;
  font-family: inherit;
  font-size: 100%;
  font-weight: 300;
  padding: .5em .3em;
  border: 1px solid #495867;
  margin-right: 1.5em;
  text-decoration: none;
  -moz-transition: background-color 0.5s;
  -o-transition:background-colort .5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

input#delete-button:hover {
  background-color:  #495867;
  color: white;
  cursor: pointer;
}


/*********FOR WELCOME PAGE*********/

#main-content {
  width: 75vw;
  height: 300vh;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#main-content h1, h2 {
  font-size: 3em;
  color: #495867;
  text-align: center;
}

#main-content h1 {
  margin-top: 25%;
  margin-bottom: .25em;
}

#main-content h2 {
  margin: 0;
  font-size: 1.5em;
}

#featured {
  width: 100%;
  height: 150vh;
  margin-top: 35vh;
}

#featured h3 {
  color: #3a4652;
  font-size: 1.5em;
}

#featured-article div:nth-child(2) p {
  padding-right: 15px;
}

#featured-article div:nth-child(3) p {
  padding-left: 15px;
}

.icon-container {
  text-align: center;
}

i {
  color: #495867;
}

.half {
  width: 50%;
  height: 45vh;
  float: left;
}

.half p,
.full p {
  font-size: 1.25em;
  color: #3a4652;
}

.full {
  width: 100%;
  position: relative;
}

/********SHOW ARTICLE PAGE************/

#article {
  width: 100%;
  height: 250vh;
  margin-top: 0vh;
}

#article h1, #article h3 {
  font-size: 3em;
  color: #3a4652;
}

#article h1 {
  text-align: center;
}

#article h3 {
  font-size: 1.5em;
}

.full ul {
  padding: 0;
}

.full ul li {
  font-size: 1.25em;
  color: #3a4652;
}

/*********FOR NEW ARTICLE & USER PAGE*********/

#main-new-art,
#main-new-user {
  padding-top: 10vh;
  display: none;
  /*flex-direction: row;
  justify-content: center;*/
}

#main-new-art form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#main-new-user form {
  width: 40%;
  min-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

#main-new-art form input,
#main-new-art form textarea,
#main-new-user form input {
  width: 100%;
  margin-bottom: 1em;
  margin-top: .25em;
}

#main-new-art form textarea {
  height: 42vh;
  resize: none;
  margin-bottom: 0;
}

#main-new-art form input:last-child {
  margin-top: 0;
}

#main-new-user form input[type="submit"] {
  width: 100%;
  background-color: #495867;
  color: white;
  font-family: inherit;
  font-size: 100%;
  font-weight: 300;
  padding: .5em .3em;
  border: 1px solid #495867;
  text-decoration: none;
  -moz-transition: background-color 0.5s;
  -o-transition:background-colort .5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

#main-new-user form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #6b7783;
}

/************SHOW USER PROFILE PAGE***********/

#profile-cont {
  text-align: center;
  font-size: 1.5em;
}

/************ARTICLES INDEX PAGE**************/

#index-page {
  text-align: center;
  padding-top: 1em;
  font-size: 2.25em;
}

#index-page ul {
  padding: 0;
  text-align: center;
}

#index-page ul li {
  font-size: .75em;
}

/************MEDIA QUERIES**************/
@media screen and (max-width: 1024px) {
    .logo-con {
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .logo-con {
        width: 85%;
    }
}

@media screen and (max-width: 640px) {
    .logo-con {
        width: 82.5%;
    }

    ul#menu {
      padding-left: 10px;
    }

    ul#menu li {
      margin-right: 10px;
    }

    ul#menu li a{
      font-size: .95em;
    }
}

@media screen and (max-width: 500px) {
    .logo-con {
        width: 80%;
    }

    ul#menu {
      padding-left: 5px;
    }

    ul#menu li {
      margin-right: 5px;
    }

    ul#menu li a{
      font-size: .85em;
    }
}
