<div class="container">
  <div id="main">
    <div id="logo-container">
      <input type="checkbox"
             name="logo"
               id="logo">
      <label for="logo"
              id="main-logo">W</label>
      <div class="section">
        <div>
          <form action="/users/login" method="post">
            <label>Login</label></br>
            <input type="text"
                   name="user[username]"
                   placeholder="username">
            <label>Password</label></br>
            <input type="password"
                   name="user[password]"
                   placeholder="password">
            <input type="submit"
                  value="Sign In">
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<footer>
<div class="message">
  <h1><%= message %></h1>
</div>
</footer>
