<form action="/users/new" method="post">
  <label>Create Username</label></br>
  <input type="text"
         name="user[username]"
  placeholder="your username"></br>
  <label>Create Password</label></br>
  <input type="text"
         name="user[password]"
  placeholder="your password">
</form>
